In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
raw_data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data/Churn_Modelling.csv')

In [0]:
raw_data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
Customer_Data = raw_data.drop(columns=['RowNumber','CustomerId','Surname'])

In [0]:
Customer_Data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder_geo = LabelEncoder()
label_encoder_gender = LabelEncoder()

Customer_Data['Geography'] = label_encoder_geo.fit_transform(Customer_Data['Geography'])
Customer_Data['Gender'] = label_encoder_gender.fit_transform(Customer_Data['Gender'])

In [0]:
Customer_Data.head()

   CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619          0       0  ...               1        101348.88       1
1          608          2       0  ...               1        112542.58       0
2          502          0       0  ...               0        113931.57       1
3          699          0       0  ...               0         93826.63       0
4          850          2       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
X = Customer_Data.drop(columns=['Exited'])
y = Customer_Data[['Exited']]

In [0]:
# X = pd.concat([X, pd.get_dummies(X['Geography'],prefix='Geography')],axis=1)
# X.drop(columns=['Geography'],inplace=True,axis=1)

In [0]:
X.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [0]:
X.shape

(10000, 10)

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [0]:
X.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [0]:
y.head()

   Exited
0       1
1       0
2       1
3       0
4       0

In [0]:
from sklearn.preprocessing import StandardScaler

standardscaler = StandardScaler()

Scaled_Data_X_train = standardscaler.fit_transform(X_train)
Scaled_Data_X_test = standardscaler.fit_transform(X_test)

In [0]:
Scaled_Data_X_train

array([[ 0.14394347,  0.30329133, -1.09886556, ...,  0.64764683,
         0.96995125,  0.18179504],
       [ 0.40375517, -0.90084298, -1.09886556, ...,  0.64764683,
         0.96995125, -0.87725431],
       [-1.17589995,  0.30329133, -1.09886556, ...,  0.64764683,
        -1.03097965,  0.33616805],
       ...,
       [-1.21746982, -0.90084298,  0.91002943, ...,  0.64764683,
         0.96995125, -0.36169388],
       [ 1.4949643 ,  1.50742563, -1.09886556, ...,  0.64764683,
        -1.03097965, -1.12442075],
       [ 0.01923386, -0.90084298,  0.91002943, ...,  0.64764683,
        -1.03097965, -0.37787199]])

In [0]:
import keras

Using TensorFlow backend.

In [0]:
from keras.models import Sequential
from keras.layers import  Dense

In [0]:
classifier = Sequential()

In [0]:
classifier.add(Dense(units=10, activation='relu', input_dim=10))
classifier.add(Dense(units=10, activation='relu'))
classifier.add(Dense(units=1, activation='sigmoid'))

In [0]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [0]:
classifier.fit(Scaled_Data_X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
8000/8000 [==============================] - 2s 312us/step - loss: 0.4718 - accuracy: 0.7964
Epoch 2/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.4220 - accuracy: 0.8070
Epoch 3/100
8000/8000 [==============================] - 2s 269us/step - loss: 0.3949 - accuracy: 0.8355
Epoch 4/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3740 - accuracy: 0.8472
Epoch 5/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3606 - accuracy: 0.8533
Epoch 6/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3534 - accuracy: 0.8558
Epoch 7/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3482 - accuracy: 0.8585
Epoch 8/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3448 - accuracy: 0.8591
Epoch 9/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.3421 - accuracy: 0.8594
Epoch 10/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3399 - accuracy: 0.8609
Epoch 11/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3392 - accuracy: 0.8601
Epoch 12/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3380 - accuracy: 0.8609
Epoch 13/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.3377 - accuracy: 0.8612
Epoch 14/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3360 - accuracy: 0.8634
Epoch 15/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3361 - accuracy: 0.8606
Epoch 16/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3346 - accuracy: 0.8621
Epoch 17/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3352 - accuracy: 0.8602
Epoch 18/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.3340 - accuracy: 0.8615
Epoch 19/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.3341 - accuracy: 0.8624
Epoch 20/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3336 - accuracy: 0.8611
Epoch 21/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3332 - accuracy: 0.8618
Epoch 22/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3327 - accuracy: 0.8616
Epoch 23/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3324 - accuracy: 0.8611
Epoch 24/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3321 - accuracy: 0.8634
Epoch 25/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3317 - accuracy: 0.8627
Epoch 26/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3306 - accuracy: 0.8631
Epoch 27/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3315 - accuracy: 0.8629
Epoch 28/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3312 - accuracy: 0.8618
Epoch 29/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3305 - accuracy: 0.8640
Epoch 30/100
8000/8000 [==============================] - 2s 286us/step - loss: 0.3303 - accuracy: 0.8629
Epoch 31/100
8000/8000 [==============================] - 2s 269us/step - loss: 0.3300 - accuracy: 0.8621
Epoch 32/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3301 - accuracy: 0.8625
Epoch 33/100
8000/8000 [==============================] - 2s 283us/step - loss: 0.3298 - accuracy: 0.8636
Epoch 34/100
8000/8000 [==============================] - 2s 283us/step - loss: 0.3293 - accuracy: 0.8645
Epoch 35/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.3294 - accuracy: 0.8643
Epoch 36/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3295 - accuracy: 0.8629
Epoch 37/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3294 - accuracy: 0.8637
Epoch 38/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3286 - accuracy: 0.8651
Epoch 39/100
8000/8000 [==============================] - 2s 278us/step - loss: 0.3291 - accuracy: 0.8625
Epoch 40/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3293 - accuracy: 0.8627
Epoch 41/100
8000/8000 [==============================] - 2s 275us/step - loss: 0.3288 - accuracy: 0.8614
Epoch 42/100
8000/8000 [==============================] - 2s 275us/step - loss: 0.3287 - accuracy: 0.8627
Epoch 43/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.3284 - accuracy: 0.8621
Epoch 44/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3277 - accuracy: 0.8659
Epoch 45/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.3277 - accuracy: 0.8664
Epoch 46/100
8000/8000 [==============================] - 2s 272us/step - loss: 0.3280 - accuracy: 0.8641
Epoch 47/100
8000/8000 [==============================] - 2s 277us/step - loss: 0.3277 - accuracy: 0.8643
Epoch 48/100
8000/8000 [==============================] - 2s 274us/step - loss: 0.3280 - accuracy: 0.8635
Epoch 49/100
8000/8000 [==============================] - 2s 281us/step - loss: 0.3276 - accuracy: 0.8646
Epoch 50/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3274 - accuracy: 0.8640
Epoch 51/100
8000/8000 [==============================] - 2s 269us/step - loss: 0.3277 - accuracy: 0.8643
Epoch 52/100
8000/8000 [==============================] - 2s 269us/step - loss: 0.3273 - accuracy: 0.8644
Epoch 53/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3274 - accuracy: 0.8635
Epoch 54/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.3272 - accuracy: 0.8619
Epoch 55/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3265 - accuracy: 0.8631
Epoch 56/100
8000/8000 [==============================] - 2s 275us/step - loss: 0.3272 - accuracy: 0.8656
Epoch 57/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3268 - accuracy: 0.8625
Epoch 58/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3266 - accuracy: 0.8636
Epoch 59/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3272 - accuracy: 0.8635
Epoch 60/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3268 - accuracy: 0.8634
Epoch 61/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3265 - accuracy: 0.8630
Epoch 62/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.3268 - accuracy: 0.8636
Epoch 63/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.3266 - accuracy: 0.8636
Epoch 64/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.3264 - accuracy: 0.8658
Epoch 65/100
8000/8000 [==============================] - 2s 274us/step - loss: 0.3263 - accuracy: 0.8641
Epoch 66/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.3264 - accuracy: 0.8660
Epoch 67/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3263 - accuracy: 0.8661
Epoch 68/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3255 - accuracy: 0.8645
Epoch 69/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3259 - accuracy: 0.8655
Epoch 70/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3257 - accuracy: 0.8643
Epoch 71/100
8000/8000 [==============================] - 2s 279us/step - loss: 0.3254 - accuracy: 0.8646
Epoch 72/100
8000/8000 [==============================] - 2s 278us/step - loss: 0.3261 - accuracy: 0.8655
Epoch 73/100
8000/8000 [==============================] - 2s 281us/step - loss: 0.3253 - accuracy: 0.8641
Epoch 74/100
8000/8000 [==============================] - 2s 281us/step - loss: 0.3254 - accuracy: 0.8637
Epoch 75/100
8000/8000 [==============================] - 2s 282us/step - loss: 0.3255 - accuracy: 0.8651
Epoch 76/100
8000/8000 [==============================] - 2s 275us/step - loss: 0.3251 - accuracy: 0.8643
Epoch 77/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3252 - accuracy: 0.8645
Epoch 78/100
8000/8000 [==============================] - 2s 283us/step - loss: 0.3251 - accuracy: 0.8630
Epoch 79/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3250 - accuracy: 0.8643
Epoch 80/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3249 - accuracy: 0.8661
Epoch 81/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3247 - accuracy: 0.8649
Epoch 82/100
8000/8000 [==============================] - 2s 262us/step - loss: 0.3251 - accuracy: 0.8639
Epoch 83/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3250 - accuracy: 0.8636
Epoch 84/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3247 - accuracy: 0.8643
Epoch 85/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3245 - accuracy: 0.8662
Epoch 86/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3241 - accuracy: 0.8664
Epoch 87/100
8000/8000 [==============================] - 2s 264us/step - loss: 0.3251 - accuracy: 0.8639
Epoch 88/100
8000/8000 [==============================] - 2s 272us/step - loss: 0.3247 - accuracy: 0.8651
Epoch 89/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.3242 - accuracy: 0.8659
Epoch 90/100
8000/8000 [==============================] - 2s 274us/step - loss: 0.3243 - accuracy: 0.8652
Epoch 91/100
8000/8000 [==============================] - 2s 263us/step - loss: 0.3242 - accuracy: 0.8660
Epoch 92/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.3239 - accuracy: 0.8655
Epoch 93/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.3238 - accuracy: 0.8639
Epoch 94/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.3243 - accuracy: 0.8654
Epoch 95/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3242 - accuracy: 0.8641
Epoch 96/100
8000/8000 [==============================] - 2s 265us/step - loss: 0.3238 - accuracy: 0.8673
Epoch 97/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.3236 - accuracy: 0.8646
Epoch 98/100
8000/8000 [==============================] - 2s 274us/step - loss: 0.3229 - accuracy: 0.8661
Epoch 99/100
8000/8000 [==============================] - 2s 273us/step - loss: 0.3234 - accuracy: 0.8650
Epoch 100/100
8000/8000 [==============================] - 2s 272us/step - loss: 0.3238 - accuracy: 0.8650

In [0]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [0]:
cm

array([[1251,  338],
       [ 295,  116]])